.alert {
  position: fixed;
  z-index: 10;
  top: 5rem;
  right: 1rem;
  width: fit-content;
  padding: 8px 12px;
}

.show-alert {
  visibility: initial;
  transition: all 0.1s ease;
}
.hide-alert {
  visibility: hidden;
  transition: all 0.1s ease;
}

@media screen and (max-width: 768px) {
  .alert {
    top: 5rem;
    right: 10px;
  }
}
