.alert {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
}

.show-alert {
  visibility: initial;
  transition: visibility 0.1s ease;
}
.hide-alert {
  visibility: hidden;
  transition: visibility 0.1s ease;
}
